<a href="https://colab.research.google.com/github/jaiwon880/Python_bd23_hjw/blob/main/submission/jaiwon880/ch03_01_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

프로그래밍을 하다 보면 들어가는 값만 바뀔 뿐 같은 코드가 계속 반복되는 경우가 많습니다. 특히 같은 코드를 반복해서 작성하면 코드도 길어지고 중간에 실수할 가능성이 높아집니다.

파이썬은 함수(function)라는 기능을 제공하는데 특정 용도의 코드를 한 곳에 모아 놓은 것을 뜻합니다. 그래서 함수는 처음 한 번만 작성해 놓으면 나중에 필요할 때 계속 불러 쓸 수 있습니다. 예를 들어 지금까지 사용했던 print, input 등도 모두 파이썬에서 미리 만들어 둔 함수입니다.

즉, 함수를 사용하면 이런 점이 좋습니다.

* 코드의 용도를 구분할 수 있다.
* 코드를 재사용할 수 있다.
* 실수를 줄일 수 있다.

## 함수 만들기

함수는 def에 함수 이름을 지정하고 ( )(괄호)와 :(콜론)을 붙인 뒤 다음 줄에 원하는 코드를 작성합니다(함수의 이름을 짓는 방법은 변수와 같습니다). 이때 코드는 반드시 들여쓰기를 해야 합니다(들여쓰기 규칙은 if, for, while과 같습니다).

```
def 함수이름():
     코드
```

여기서 def는 정의하다(**def**ine)에서 따온 키워드입니다.

In [1]:
def hello():
  print("안녕하세요!")

### 함수 호출하기

함수를 사용하는 방법을 "함수를 호출(call)한다"라고 부릅니다.

In [2]:
# 함수()
hello()

안녕하세요!

### 함수 작성과 함수 호출 순서

함수를 만들고 호출할 때 주의할 점이 있는데, 바로 함수를 만들기 전에 함수를 먼저 호출하면 안 된다는 점입니다. 즉, 다음과 같이 함수를 먼저 호출한 뒤 함수를 만들 수는 없습니다.

In [3]:
b

b = "a"

NameError: ignored

In [4]:
hello2()

def hello2():
  print("hello2")

NameError: ignored

함수를 먼저 호출하면 함수가 정의(define)되지 않았다는 에러가 발생합니다. 왜냐하면 파이썬 코드는 위에서 아래로 순차적으로 실행되기 때문입니다. 반드시 함수를 먼저 만든 뒤에 함수를 호출해야 합니다.

### 빈 함수 만들기

In [5]:
# 내용이 없는 빈 함수를 만들 때는 코드 부분에 pass를 넣어줍니다.
def fun():
  pass

In [8]:
def 설거지(): # 상위 모듈
  그릇모으기() # 하위 모듈
  세제뿌리기()
  헹구기()
  말리기()

def 그릇모으기():
  pass

def 세제뿌리기():
  print("세제 뿌링클")

def 헹구기():
  pass

def 말리기():
  pass

In [9]:
설거지()

세제 뿌링클

나중에 다른 사람이 만든 파이썬 소스 코드를 보다 보면 pass를 자주 접할 수 있습니다.

pass는 아무 일을 하지 않아도 함수의 틀을 유지할 필요가 있을 때 사용합니다.

## 매개변수 (parameter)

함수에서 값을 받으려면 ( )(괄호) 안에 변수 이름을 지정해주면 됩니다. 특히 이 변수를 매개변수(parameter)라고 부릅니다.

```
def 함수이름(매개변수1, 매개변수2):
    코드
```

In [10]:
def plus(a,b):
  print(a+b)

In [12]:
plus(14, 16)

30

In [14]:
a, b # 함수 밖에서는 a, b 가 없다 변수를 지정해주지 않는 이상!

NameError: ignored

In [16]:
a = 100
plus(50, 20) # 함수 안에서 정의된 변수는 함수 안에서만 작동함!
a + 50

70

150

함수를 호출할 때 넣는 값을 인수(argument)라고 부릅니다.

## 함수의 결과를 반환하기

함수 안에서 return을 사용하면 값을 함수 바깥으로 반환합니다(return에 값을 지정하지 않으면 None을 반환).

```
def 함수이름(매개변수):
    return 반환값
```

In [17]:
def minus(a, b):
  c = a - b
  return c

In [19]:
c = 40
minus(10, 20)
c

40

In [20]:
c = minus(10, 20)
c

-10

In [28]:
def lotto():
  print(f"실행: {45}")
  return 30

d = lotto()
print(f"반환: {d}")

실행: 45
반환: None

return으로 반환하는 값은 반환값이라고 하며 함수를 호출해준 *바깥*에 결과를 알려주기 위해 사용합니다.

In [31]:
# 반환값은 변수에 저장하지 않고 바로 다른 함수에 넣을 수도 있습니다.
print(lotto())

실행: 45
None

In [33]:
def concat(a, b):
  return a + b

input(concat("안녕","세상아!")) # 함수를 값 자체로 쓸 수 있다.

안녕세상아!헬로헬로

'헬로헬로'

### return으로 함수 중간에서 빠져나오기

In [42]:
def concat(a,b): # 문자열을 연결하기 위해 설계
# 숫자가 들어오면? -> 숫자는 안 됩니다.(None return)
  if type(a) != str:
    print("첫 번째 인자가 문자열이 아닙니다..")
    return  # 실행을 멈추고 반환함 (break 역할을 함)
  if type(b) != str:
    print("두 번째 인자가 문자열이 아닙니다..")
    return
  return a + b

In [43]:
r = concat(1, 1)
print(f"Return: {r}")

첫 번째 인자가 문자열이 아닙니다..
Return: None

In [45]:
r = concat("1",1)
print(f"Return: {r}")

두 번째 인자가 문자열이 아닙니다..
Return: None

In [47]:
r = concat("1","1")
print(f"Return: {r}")

Return: 11

In [48]:
def guess(number):
  answer = 100
  if number == answer: # 일치하면
    return "정답"
  if number > answer:
    return "Down"
  if number < answer:
    return "Up"

In [51]:
guess(50), guess(100), guess(120)

('Up', '정답', 'Down')

In [52]:
def guess(number):
  answer = 100
  # result = None
  if number == answer: # 일치하면
    result = "정답"
  elif number > answer:
    result = "Down"
  elif number < answer:
    result = "Up"
  return result

In [54]:
def not_ten(a):
  if a == 10:
    return
  print(f"{a} 입니다.")

not_ten(5)
not_ten(10)

5 입니다.

In [56]:
def loop(a, b,c):
  for i in range(a, b+1):
    print(i)
    if i % c == 0: # i가 C의 배수일 때 이중 가장 작은 값
      print(f"** {c}의 배수를 찾았습니다 **")
      return i
  return 0

loop(19, 50, 17)

19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
** 17의 배수를 찾았습니다 **

34

return은 함수 중간에서 빠져나올 때 자주 사용합니다. 보통은 if와 조합해서 특정 조건일 때 함수 중간에서 빠져나옵니다.

## 함수에서 값을 여러 개 반환하기

함수에서 값을 여러 개 반환할 때는 다음과 같이 return에 값이나 변수를 ,(콤마)로 구분해서 지정하면 됩니다.

```
def 함수이름(매개변수):
    return 반환값1, 반환값2
```

In [2]:
def my_divmod(a, b): # 몫, 나머지
  c = a // b # 몫
  d = a % b # 나머지
  return c,d

In [4]:
my_divmod(100, 3)

(33, 1)

In [5]:
a, b = my_divmod(100, 3)
print(a, b)

33 1

# 함수 심화

## 위치 인수와 리스트 언패킹 사용하기

함수에 인수를 순서대로 넣는 방식을 위치 인수(positional argument)라고 합니다. 즉, 인수의 위치가 정해져 있습니다.

In [8]:
print(10, 20, 30)

10 20 30

In [9]:
print(10, 10, 10, 10,10, 10, 10, 10,10, 10, 10, 10)

10 10 10 10 10 10 10 10 10 10 10 10

### 위치 인수를 사용하는 함수를 만들고 호출하기

In [10]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [13]:
print_numbers(10, 20, 30)

10
20
30

In [14]:
print_numbers(10, 20) # 매개변수의 갯수가 맞지 않으면 오류가 생김

TypeError: ignored

### 언패킹 사용하기

인수를 순서대로 넣을 때는 리스트나 튜플을 사용할 수도 있습니다. 다음과 같이 리스트 또는 튜플 앞에 *(애스터리스크)를 붙여서 함수에 넣어주면 됩니다.

* `함수(*리스트)`
* `함수(*튜플)`

In [17]:
x = [1 ** (1/2), 2 ** (1/2), 3 ** (1/2)]
x

[1.0, 1.4142135623730951, 1.7320508075688772]

In [19]:
print_numbers(*x) # 모든 x[0],x[1],x[2]

1.0
1.4142135623730951
1.7320508075688772

In [20]:
# 단, 이때 함수의 매개변수 개수와 리스트의 요소 개수는 같아야 합니다.
# 만약 개수가 다르면 함수를 호출할 수 없습니다.
print_numbers(*[10,20])

TypeError: ignored

### 가변 인수 함수 만들기

그럼 위치 인수와 리스트 언패킹은 어디에 사용할까요? 이 기능들은 인수의 개수가 정해지지 않은 가변 인수(variable argument)에 사용합니다. 즉, 같은 함수에 인수 한 개를 넣을 수도 있고, 열 개를 넣을 수도 있습니다. 또는, 인수를 넣지 않을 수도 있습니다.

다음과 같이 가변 인수 함수는 매개변수 앞에 *를 붙여서 만듭니다.

```
def 함수이름(*매개변수):
    코드
```

In [32]:
def print_numbers(*args):
  if not len(args): # args 비어있으면 True
    print("매개변수를 1개 이상 넣어주세요.")
    return
  if len(args) == 2: # args 비어있으면 True
    print(f"연결: {args[0]+args[1]}")
    return str(args[0])+ str(args[1])

  for arg in args:
    print(arg)

In [33]:
print_numbers(10, 20)

연결: 30

'1020'

매개변수 이름은 원하는 대로 지어도 되지만 관례적으로 arguments를 줄여서 args로 사용합니다. 특히 이 args는 튜플이라서 for로 반복할 수 있습니다.

In [25]:
print_numbers(10)
print_numbers(10,20,30,40)
print_numbers(*list(range(0,100,30)))

10
10
20
30
40
0
30
60
90

In [ ]:
# 이렇게 함수에 인수 여러 개를 직접 넣어도 되고, 리스트(튜플) 언패킹을 사용해도 됩니다.

10
10
20
30
40

### 고정 인수와 가변 인수를 함께 사용하기

고정 인수와 가변 인수를 함께 사용할 때는 고정 매개변수를 먼저 지정하고, 그 다음 매개변수에 *를 붙여주면 됩니다.

In [43]:
def my_fun(a, *args): # 위치 고정, 가변인수(언팩킹 되는 변수)
  if a == "sum":
    return sum(args)

  if a == "avg":
    return sum(args) // len(args)

  if a == "count":
    return len(args)
  print("지원하지 않는 기능입니다.")

In [36]:
my_fun("sum",1,2,3,4,5)

15

In [38]:
my_fun("avg",1,2,3,4,5)

3

In [39]:
my_fun("count",1,2,3,4,5)

5

In [44]:
my_fun("hi")

지원하지 않는 기능입니다.

단, 이때 def print_numbers(*args, a):처럼 *args가 고정 매개변수보다 앞쪽에 오면 안 됩니다. 매개변수 순서에서 *args는 반드시 가장 뒤쪽에 와야 합니다.

## 키워드 인수 사용하기

파이썬에서는 인수의 순서와 용도를 매번 기억하지 않도록 키워드 인수(keyword argument)라는 기능을 제공합니다. 키워드 인수는 말 그대로 인수에 이름(키워드)을 붙이는 기능인데 키워드=값 형식으로 사용합니다.

* `함수(키워드=값)`

In [46]:
def introduce(name, age, address):
  print(f"이름: {name}")
  print(f"나이: {age}")
  print(f"주소: {address}")

In [47]:
introduce("김동동", 20, "서울시 행복구 가리봉동")

이름: 김동동
나이: 20
주소: 서울시 행복구 가리봉동

In [49]:
# 키워드 인수를 사용하면 인수의 순서를 맞추지 않아도 키워드에 해당하는 값이 들어갑니다.
introduce(name="김동동", age=20, address="서울시 행복구 가리봉동")

이름: 김동동
나이: 20
주소: 서울시 행복구 가리봉동

## 키워드 인수와 딕셔너리 언패킹 사용하기

지금까지 함수를 호출할 때 키워드 인수로 직접 값을 넣었습니다. 이번에는 딕셔너리를 사용해서 키워드 인수로 값을 넣는 딕셔너리 언패킹을 사용해보겠습니다. 다음과 같이 딕셔너리 앞에 **(애스터리스크 두 개)를 붙여서 함수에 넣어줍니다.

* `함수(**딕셔너리)`

In [53]:
def introduce(name, age, address):
  print(f"이름: {name}")
  print(f"나이: {age}")
  print(f"주소: {address}")

In [54]:
a = {
    "name": "고길동",
    "age": 40,
    "address": "쌍문동"
}

In [56]:
introduce(*a)

이름: name
나이: age
주소: address

이제 딕셔너리에 '키워드': 값 형식으로 인수를 저장하고, 앞에 **를 붙여서 함수에 넣어줍니다. 이때 딕셔너리의 키워드(키)는 반드시 문자열 형태라야 합니다.

In [57]:
introduce(**a) # * 두개를 넣어야 키값형태로 나옴 (딕셔너리)

이름: 고길동
나이: 40
주소: 쌍문동

**x처럼 딕셔너리를 언패킹하면 딕셔너리의 값들이 함수의 인수로 들어갑니다.

딕셔너리 언패킹을 사용할 때는 함수의 매개변수 이름과 딕셔너리의 키 이름이 같아야 합니다. 또한, 매개변수 개수와 딕셔너리 키의 개수도 같아야 합니다.

In [61]:
b = {
    "aging":"엄엄"
}
introduce(**b)

TypeError: ignored

### *를 두 번 사용하는 이유

그런데 딕셔너리는 **처럼 *를 두 번 사용할까요? 왜냐하면 딕셔너리는 키-값 쌍 형태로 값이 저장되어 있기 때문입니다. 먼저 *를 한 번만 사용해서 함수를 호출해봅니다.

In [59]:
introduce(*a)

이름: name
나이: age
주소: address

딕셔너리를 한 번 언패킹하면 키를 사용한다는 뜻이 됩니다. 따라서 **처럼 딕셔너리를 두 번 언패킹하여 값을 사용하도록 만들어야 합니다.

In [60]:
introduce(**a)

이름: 고길동
나이: 40
주소: 쌍문동

### 키워드 인수를 사용하는 가변 인수 함수 만들기 (*외우기)

키워드 인수를 사용하는 가변 인수 함수는 매개변수 앞에 **를 붙여서 만듭니다.

```
def 함수이름(**매개변수):
    코드
```

In [66]:
def introduce(**kwargs): # key word + args: kwargs(dictionary)
  for kw, args in kwargs.items():
    print(f"{kw} : {args}")

In [68]:
introduce(**b)
introduce(weight=172.2, height=185, nickname="완재")

aging : 엄엄
weight : 172.2
height : 185
nickname : 완재

매개변수 이름은 원하는 대로 지어도 되지만 관례적으로 keyword arguments를 줄여서 kwargs로 사용합니다. 특히 이 kwargs는 딕셔너리라서 for로 반복할 수 있습니다.

In [69]:
def introduce(**kwargs):  # 생략하던가
  if 'name' in kwargs:
    print(f"이름: {kwargs['name']}")
  if 'age' in kwargs:
    print(f"나이: {kwargs['age']}")
  if 'address' in kwargs:
    print(f"주소: {kwargs['address']}")

In [72]:
def introduce(**kwargs):
  for i in range(repeat)
    print(f"이름: {kwargs.get('name', '없음')}")  # 기본값을 주던가
    print(f"나이: {kwargs.get('age', -99)}")
    print(f"주소: {kwargs.get('address', "주소불명")}")
  
introduce(name="붕붕이")

SyntaxError: ignored

인수 함수를 만들 수 있습니다. 그리고 이런 함수를 호출할 때는 키워드와 인수를 각각 넣거나 딕셔너리 언패킹을 사용하면 됩니다.

보통 **kwargs를 사용한 가변 인수 함수는 다음과 같이 함수 안에서 특정 키가 있는지 확인한 뒤 해당 기능을 만듭니다.

### 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

고정 인수와 가변 인수(키워드 인수)를 함께 사용할 때는 다음과 같이 고정 매개변수를 먼저 지정하고, 그 다음 매개변수에 **를 붙여주면 됩니다.

In [ ]:
def introduce(repeat, **kwargs):
  for i in range(repeat):
    print(f"이름: {kwargs.get('name', '없음')}")  # 기본값을 주던가
    print(f"나이: {kwargs.get('age', -99)}")
    print(f"주소: {kwargs.get('address', "주소불명")}")
  
introduce(name="붕붕이")

홍길동
{}
홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}
홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

단, 이때 `def personal_info(**kwargs, name):`처럼 `**kwargs`가 고정 매개변수보다 앞쪽에 오면 안 됩니다. 매개변수 순서에서 `**kwargs`는 반드시 가장 뒤쪽에 와야 합니다.

### 위치 인수와 키워드 인수를 함께 사용하기

함수에서 위치 인수를 받는 `*args`와 키워드 인수를 받는 `**kwargs`를 함께 사용할 수도 있습니다. 대표적인 함수가 print인데 print는 출력할 값을 위치 인수로 넣고 sep, end 등을 키워드 인수로 넣습니다. 다음과 같이 함수의 매개변수를 `*args`, `**kwargs`로 지정하면 위치 인수와 키워드 인수를 함께 사용합니다.

In [73]:
def my_fun(*args, **kwargs):
  print(*args, **kwargs)

In [75]:
my_fun(1,2,3, sep=":", end='')

1:2:3

In [93]:
import random
def game(start, end, *args, **kwargs):
  # 플레이어의 이름을 받고, name
  if "name" not in kwargs:
    return print("이름을 입력해 주세요!")
  # 플레이어가 지불한 금액, money
  if "money" not in kwargs:
    return print("금액을 지불해 주세요!")
  if not len(args):
    return print("당첨 숫자를 입력해 주세요!")
  # start, end 는 수를 뽑는 범위
  number = random.choice(range(start,end+1))
  # for i in range(start, end+1):
  #   # args를 당첨 숫자들
  #   if i in args:
  #     print(f"당첨되었습니다!{i} / \\{kwargs['money']*2}")
  if number in args:
    print(f"당첨되었습니다! {number} / \\{kwargs['money']*2}")
    return kwargs['money']*2
  else:
    print(f"실패입니다! {number}")

In [95]:
# game() 고정인수가 있으면 오류가 남
game(start=1, end=10)
game(1,6)
game(1,6, name="만렙토끼")
game(1,6, name="만렙토끼", money=20000)
game(1,6, name="만렙토끼", money=20000)
game(1,6, *(1,6,2,3,4,5), name="만렙토끼", money=20000)

이름을 입력해 주세요!
이름을 입력해 주세요!
금액을 지불해 주세요!
당첨 숫자를 입력해 주세요!
당첨 숫자를 입력해 주세요!
당첨되었습니다! 3 / \40000

40000

In [104]:
seed_money = 100_000

In [105]:
result = game(1, 2, 1, name="조승우", money=seed_money*0.05)
seed_money *= (1 - 0.05)
seed_money += result

당첨되었습니다! 1 / \10000.0

```
단, 이때 def custom_print(**kwargs, *args):처럼
**kwargs가 *args보다 앞쪽에 오면 안 됩니다.
매개변수 순서에서 **kwargs는 반드시 가장 뒤쪽에 와야 합니다.

특히 고정 매개변수와 *args, **kwargs를 함께 사용한다면 
def custom_print(a, b, *args, **kwargs):처럼 
매개변수는 고정 매개변수, *args, **kwargs 순으로 지정해야 합니다.
```

## 매개변수에 초깃값 지정하기

지금까지 함수를 호출할 때 항상 인수를 넣어서 값을 전달했습니다. 그러면 인수를 생략할 수는 없을까요? 이때는 함수의 매개변수에 초깃값을 지정하면 됩니다. 초깃값은 다음과 같이 함수를 만들 때 매개변수=값 형식으로 지정합니다.

```
def 함수이름(매개변수=값):
    코드
```

매개변수의 초깃값은 주로 사용하는 값이 있으면서 가끔 다른 값을 사용해야 할 때 활용합니다. 대표적인 예가 print 함수인데, print 함수의 sep는 초깃값이 ' '(공백)으로 지정되어 있어서 대부분 그대로 사용하고, 가끔 sep에 다른 값을 넣어서 사용합니다.

In [107]:
def introduce(name, age, address="비공개"):
  print(f"이름: {name}")
  print(f"나이: {age}")
  print(f"주소: {address}")

In [108]:
introduce("홍길동",30)

이름: 홍길동
나이: 30
주소: 비공개

In [110]:
# 매개변수에 초깃값이 지정되어 있더라도 값을 넣으면 해당 값이 전달됩니다.
introduce("홍길동",30,"서울시 용산구")

이름: 홍길동
나이: 30
주소: 서울시 용산구

In [112]:
def my_cal(interest, tax=0.14):
  return interest*(1 - tax * 1.1)

In [113]:
my_cal(1_000_000)

846000.0

In [115]:
my_cal(1_000_000, 0.1)

890000.0

In [117]:
def my_cal2(money, rate=0.05, tax=0.14):
  return money*rate*(1 - tax * 1.1)

In [118]:
my_cal2(1_000_000)

42300.0

In [119]:
my_cal2(1_000_000, rate=0.12, tax=0)

120000.0

### 초깃값이 지정된 매개변수의 위치

매개변수의 초깃값을 지정할 때 한 가지 주의할 점이 있습니다. 초깃값이 지정된 매개변수 다음에는 초깃값이 없는 매개변수가 올 수 없습니다.

In [ ]:
def my_cal2(rate=0.05, money, tax=0.14): # 초깃값이 지정되면 뒤로뒤로뒤로
  return money*rate*(1 - tax * 1.1)

초깃값이 지정된 매개변수는 뒤쪽에 몰아주면 됩니다.
```
def personal_info(name, age, address='비공개'):
def personal_info(name, age=0, address='비공개'):
def personal_info(name='비공개', age=0, address='비공개'):
```

# 람다 표현식

람다 표현식은 식 형태로 되어 있다고 해서 람다 표현식(lambda expression)이라고 부릅니다. 특히 람다 표현식은 함수를 간편하게 작성할 수 있어서 다른 함수의 인수로 넣을 때 주로 사용합니다.

## 람다 표현식으로 함수 만들기

In [121]:
def plus_ten(x):
  return x + 10

plus_ten(1)

11

람다 표현식은 다음과 같이 lambda에 매개변수를 지정하고 :(콜론) 뒤에 반환값으로 사용할 식을 지정합니다.

* `lambda 매개변수들: 식`

In [122]:
lambda x: x+10 # 람다 객체

실행을 해보면 함수 객체가 나오는데, 이 상태로는 함수를 호출할 수 없습니다. 왜냐하면 람다 표현식은 이름이 없는 함수를 만들기 때문입니다. 그래서 람다 표현식을 익명 함수(anonymous function)로 부르기도 합니다.

lambda로 만든 익명 함수를 호출하려면 다음과 같이 람다 표현식을 변수에 할당해주면 됩니다.

In [124]:
plus_ten = lambda x: x+10
plus_ten(12)

22

### 람다 표현식 자체를 호출하기

람다 표현식은 변수에 할당하지 않고 람다 표현식 자체를 바로 호출할 수 있습니다. 다음과 같이 람다 표현식을 ( )(괄호)로 묶은 뒤에 다시 ( )를 붙이고 인수를 넣어서 호출하면 됩니다.

* `(lambda 매개변수들: 식)(인수들)`

In [126]:
(lambda x: x + 10)(2)

12

### 람다 표현식 안에서는 변수를 만들 수 없다

람다 표현식에서 주의할 점은 람다 표현식 안에서는 새 변수를 만들 수 없다는 점입니다. 따라서 반환값 부분은 변수 없이 식 한 줄로 표현할 수 있어야 합니다. 변수가 필요한 코드일 경우에는 def로 함수를 작성하는 것이 좋습니다.

In [130]:
(lambda x: y =10; x + y)(1)

SyntaxError: ignored

In [131]:
# 단, 람다 표현식 바깥에 있는 변수는 사용할 수 있습니다. # 외부 대입 변수는 사용할 수 있다.
y = 10
(lambda x: x+y)(1)

11

In [ ]:
# 함수 내부에서, 외부에서 사용된 변수를 끌어서 사용하는 건 가능 (람다 표현식도 마찬가지)
# 함수 내부에서 전달받은 매개변수나, 그 변수를 통해 선언된 다른 값들은 함수밖에서 호출할 수 없음
# 함수 내부에서, 외부에 변수를 호출해서 변경시켰다면, 해당 변경내용은 유지지
def add(x, y):
    return x + y

def add_power(x, y):
    return (x + y) ** 2

z = 2
def add_power2(x, y):
    return (x + y) ** z

In [ ]:
# 함수 내부에 선언되지 않은 변수의 경우에는 대입할 수 없다
def fun():
    print(w)  # 값을 외부로 전달해서 변경하고 싶으면 return 강제

### 람다 표현식을 인수로 사용하기

람다 표현식을 사용하는 이유는 함수의 인수 부분에서 간단하게 함수를 만들기 위해서 입니다. 이런 방식으로 사용하는 대표적인 예가 map입니다.

In [132]:
list(map(int, ["11","12","13"]))

[11, 12, 13]

In [133]:
list(map(lambda x: int(x) ** 2, ["11","12","13"]))

[121, 144, 169]